.head3Container{
    width: 90%;
    margin: 0 auto;
    padding: 100px 0 0;
}

.head3h2d h3{
    color: white;
    font-size: 30px;
}

.head3Text{
    padding: 20px 0;
}

.head3Text p{
    width: 62%;
    font-size: 17px;
    font-weight: normal;
}